.item {
    display: flex;
    width: 100%;
    background-color: white;
}

.img {
    position: relative;
    width: 40%;
    box-shadow: -6px 17px 20px 0 rgba(0, 0, 0, 0.12), 6px 17px 20px 0 rgba(0, 0, 0, 0.12);
}

.text {
    padding-left: 45px;
    width: 500px;
}

.title {
    text-decoration: none;
    width: 500px;
    margin: 0;
}

h2 {
    margin-bottom: 0px;
    padding-bottom: 0;
}

a:link {
    color : black;
  }

a:visited {
    color : black;
  }